<%
  var sUrl = url.replace(/index\.html$/, '');
  sUrl = /^(http:|https:)\/\//.test(sUrl) ? sUrl : 'https:' + sUrl;
%>

<%# "版权说明" %>
<% if (((theme.copyright.copyright_type === 2) || (theme.copyright.copyright_type === 1 && post.copyright)) && !index){ %>
<div class="declare"> 
  <ul class="post-copyright">
    <li>
      <strong>本文作者: </strong>
      <%= config.author%>
    </li>
    <li>
      <strong>本文链接: </strong>
      <a href="<%= config.url %>/<%= post.path %>" title="<%= post.title %>" target="_blank"><%= config.url %>/<%= post.path %></a>
    </li>

    <li>
      <strong>发布时间: </strong>
      <%= page.date.format("YYYY年MM月DD日 - HH:mm") %>
    </li>
    <li>
      <strong>最后更新: </strong>
      <%= page.updated.format("YYYY年MM月DD日 - HH:mm") %>
    </li>

    <% if (theme.copyright_text || theme.copyright_text == null){ %>
    <li>
      <span><strong>版权声明: </strong></span>
      <% if (theme.copyright.copyright_text == null || theme.copyright.copyright_text == true){ %>
        <span>
          本博客所有文章除特别声明外，均采用 
          <a rel="license" href="<%= theme.copyright.licensee_url%>" title="<%= theme.copyright.licensee_alias %>"><%= theme.copyright.licensee_name%></a>
          进行许可。转载请注明出处！
        </span>
        <% if(theme.copyright.licensee_img != undefined){ %>
          <span>
            <a rel="license" href="<%= theme.copyright.licensee_url%>">
              <img alt="知识共享许可协议" style="border-width:0" src="<%- config.root %><%= theme.copyright.licensee_img %>"/>
            </a>
          </span>
        <% } %>
      
      <% } else { %>
        <%= theme.copyright.copyright_text %>
      <% } %>
    </li>
    <% } %>
  </ul>

</div>
<% } else {%>
  <div class="declare" hidden="hidden"></div>
<% } %>